<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/page :: head">
</head>

<body>

	<div class="container">

		<h3 th:replace="fragments/page :: title"></h3>
		<h5 th:text="${locationsObjects == null ? '' : locationsObjects.time}">Time</h5>
		<p>
		<a href="?lang=hu_HU" class="btn btn-success">Magyar</a> <a
			href="?lang=en_US" class="btn btn-warning">English</a>
		<p>
		<div th:if="${message}" th:text="${message}"
			class="alert alert-success"></div>
		<div th:if="${messageAlert}" th:text="${messageAlert}"
			class="alert alert-danger"></div>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th th:text="#{name}">Name</th>
					<th>LAT</th>
					<th>LON</th>
				</tr>
			</thead>
			<tbody th:if="${locationsObjects} != null">
				<th:block th:each="location : ${locationsObjects.locations}">
					<tr>
						<td><a th:href="@{location/{id} (id=${location.id})}"
							th:text="${location.id}"></a></td>
						<td th:text="${location.name}"></td>
						<td th:text="${location.lat}"></td>
						<td th:text="${location.lon}"></td>
					</tr>
				</th:block>
			</tbody>
		</table>

		<form th:action="@{/}" th:object="${locationForm}" method="post">
			<div class="form-group">
				<label for="name-input" th:text="#{form.name}">New Location name:</label> 
				<input th:field="*{name}" id="name-input"class="form-control" th:classappend="${#fields.hasErrors('name')} ? 'is-invalid'" /> 
				<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback"></div>
				<label for="coordinates-input" th:text="#{form.coordinates}">Coordinates (lat, lon):</label> 
				<input th:field="*{coordinates}" id="coordinates-input" class="form-control" th:classappend="${#fields.hasErrors('coordinates')} ? 'is-invalid'" />
				<div th:if="${#fields.hasErrors('coordinates')}" th:errors="*{coordinates}" class="invalid-feedback"></div>
				<div th:if="${#fields.hasErrors('global')}" th:text="#{message.wrongCoordinates}" class="invalid-feedback"></div>
				
			</div>
			<button type="submit" class="btn btn-primary"
				th:text="#{button.create}">Create location</button>
		</form>


	</div>

</body>
</html>